.container-column {
	@mixin flexbox column, nowrap, flex-start, flex-start, stretch;
	@mixin flex;
	@mixin container;
}

.site-header > .container-column {
	@mixin flex-justify-content center;
	@mixin flex-align-content center;
	position: relative;
}

.site-hero > .container-column {
	@mixin flex-justify-content center;
	@mixin flex-align-content center;
	@mixin flex-align-items center;
	@mixin flex-shrink 0;
	flex-basis: 100%;
}

.site-content > .container-column {
	@mixin flex-justify-content center;
	@mixin flex-align-content center;
	@mixin flex-shrink 1;
	@mixin flex-basis 100%;
	position: relative;
}

.content-section.-worship > .container-column {
	align-items: center;
	padding-top: var(--gutter-medium);
	padding-bottom: var(--gutter-medium);
}

@media (--bp-max-width) {
	.content-section.-worship > .container-column {
		padding-top: var(--gutter-large);
		padding-bottom: var(--gutter-large);
	}
}
