.accordion-item {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	margin-bottom: var(--gutter-medium);
	background-color: transparent;
	text-align: left;
}
